.root {
    -fx-font-family: "Segoe UI", "Arial";
    -fx-padding: 12;
}

.side-panel {
    -fx-padding: 12;
    -fx-background-color: #000000;
}

.form-panel {
    -fx-padding: 10;
    -fx-background-color: #000000;
    -fx-border-color: #050000;
    -fx-border-width: 1;
}

.heading {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

